In [24]:
# Imports 
%matplotlib inline

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import ast
import seaborn as sns
sns.set()
sns.set_context('talk')
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest
# Note: the statsmodels import may print out a 'FutureWarning'. Thats fine.

In [25]:
df1 = pd.read_csv('actors.csv')
grouped1 = df1.groupby('id')['name'].apply(list).reset_index()
grouped1.head(5)

        id                                               name
0  1000001  [Margot Robbie, Lewis Easter, Onyemachi Ejimof...
1  1000002  [Rosie Peralta, Anna Elisabeth Rihlmann, Andre...
2  1000003  [Randall Archer, Boon Pin Koh, Efka Kvaracieju...
3  1000004  [Leonard Termo, Greg Bronson, Michael Arturo, ...
4  1000005  [Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...

In [26]:
df5 = pd.read_csv('genres.csv')
grouped5 = df5.groupby('id')['genre'].apply(list).reset_index()
grouped5.head(5)

        id                                 genre
0  1000001          [Comedy, Fantasy, Adventure]
1  1000002             [Comedy, Thriller, Drama]
2  1000003  [Science Fiction, Action, Adventure]
3  1000004                               [Drama]
4  1000005   [Science Fiction, Drama, Adventure]

In [27]:
df7 = pd.read_csv('languages.csv')
filtered_df7 = df7[df7['type'].isin(['Language', 'Primary language'])]
filtered_df7.head(20)

         id              type language
0   1000001          Language  English
1   1000002  Primary language   Korean
5   1000003  Primary language  English
9   1000004          Language  English
10  1000005          Language  English
11  1000006          Language  English
14  1000007  Primary language  English
16  1000008  Primary language  English
19  1000009          Language  English
20  1000010  Primary language  English
24  1000011          Language  English
26  1000012  Primary language  English
28  1000013          Language  English
29  1000014          Language  English
30  1000015  Primary language  English
33  1000016  Primary language  English
36  1000017  Primary language  English
44  1000018  Primary language  English
46  1000019  Primary language  English
49  1000020          Language  English

In [28]:
df4 = pd.read_csv('movies.csv')
df4.rename(columns={'name': 'movie'}, inplace=True)
merged_df14 = pd.merge(df4, grouped1, on='id', how='left')

In [29]:
merged_df145 = pd.merge(merged_df14, grouped5, on='id', how='left')

In [30]:
merged_df1457 = pd.merge(merged_df145, filtered_df7, on='id', how='left')
merged_df1457.head(5)

,id,movie,date,tagline,description,minute,rating,name,genre,type,language
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,"[Margot Robbie, Lewis Easter, Onyemachi Ejimof...","[Comedy, Fantasy, Adventure]",Language,English
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.57,"[Rosie Peralta, Anna Elisabeth Rihlmann, Andre...","[Comedy, Thriller, Drama]",Primary language,Korean
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.32,"[Randall Archer, Boon Pin Koh, Efka Kvaracieju...","[Science Fiction, Action, Adventure]",Primary language,English
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27,"[Leonard Termo, Greg Bronson, Michael Arturo, ...",[Drama],Language,English
4,1000005,Interstellar,2014.0,Mankind was born on Earth. It was never meant ...,The adventures of a group of explorers who mak...,169.0,4.32,"[Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...","[Science Fiction, Drama, Adventure]",Language,English

In [ ]:
df6 = pd.read_csv('crew.csv')
directors_df6 = df6[df6['role'] == 'Director']
directors_df6.rename(columns={'name': 'Director'}, inplace=True)
directors_df6.drop(columns='role', inplace=True)
directors_df6.head(5)

In [12]:
grouped6 = directors_df6.groupby('id')['Director'].apply(list).reset_index()
grouped6.head(15)

         id                                         Director
0   1000001                                   [Greta Gerwig]
1   1000002                                   [Bong Joon-ho]
2   1000003                  [Daniel Kwan, Daniel Scheinert]
3   1000004                                  [David Fincher]
4   1000005                              [Christopher Nolan]
5   1000006                                  [Todd Phillips]
6   1000007  [Rodney Rothman, Peter Ramsey, Bob Persichetti]
7   1000008                                   [Rian Johnson]
8   1000009                                [Damien Chazelle]
9   1000010                              [Quentin Tarantino]
10  1000011                                    [Matt Reeves]
11  1000012                              [Christopher Nolan]
12  1000013                                [Damien Chazelle]
13  1000014                                   [Jordan Peele]
14  1000015                                      [Ari Aster]

In [13]:
merged_df14576 = pd.merge(merged_df1457, grouped6, on='id', how='left')
merged_df14576.head(5)

,id,movie,date,tagline,description,minute,rating,name,genre,type,language,Director
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,"[Margot Robbie, Lewis Easter, Onyemachi Ejimof...","[Comedy, Fantasy, Adventure]",Language,English,[Greta Gerwig]
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.57,"[Rosie Peralta, Anna Elisabeth Rihlmann, Andre...","[Comedy, Thriller, Drama]",Primary language,Korean,[Bong Joon-ho]
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.32,"[Randall Archer, Boon Pin Koh, Efka Kvaracieju...","[Science Fiction, Action, Adventure]",Primary language,English,"[Daniel Kwan, Daniel Scheinert]"
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27,"[Leonard Termo, Greg Bronson, Michael Arturo, ...",[Drama],Language,English,[David Fincher]
4,1000005,Interstellar,2014.0,Mankind was born on Earth. It was never meant ...,The adventures of a group of explorers who mak...,169.0,4.32,"[Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...","[Science Fiction, Drama, Adventure]",Language,English,[Christopher Nolan]

In [14]:
merged_df14576.drop(columns=['tagline', 'description', 'minute', 'type'], inplace=True)
merged_df14576.head(15)

,id,movie,date,rating,name,genre,language,Director
0,1000001,Barbie,2023.0,3.91,"[Margot Robbie, Lewis Easter, Onyemachi Ejimof...","[Comedy, Fantasy, Adventure]",English,[Greta Gerwig]
1,1000002,Parasite,2019.0,4.57,"[Rosie Peralta, Anna Elisabeth Rihlmann, Andre...","[Comedy, Thriller, Drama]",Korean,[Bong Joon-ho]
2,1000003,Everything Everywhere All at Once,2022.0,4.32,"[Randall Archer, Boon Pin Koh, Efka Kvaracieju...","[Science Fiction, Action, Adventure]",English,"[Daniel Kwan, Daniel Scheinert]"
3,1000004,Fight Club,1999.0,4.27,"[Leonard Termo, Greg Bronson, Michael Arturo, ...",[Drama],English,[David Fincher]
4,1000005,Interstellar,2014.0,4.32,"[Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...","[Science Fiction, Drama, Adventure]",English,[Christopher Nolan]
5,1000006,Joker,2019.0,3.83,"[Danny Schoch, Graham Mabry, Steven Elson, Rog...","[Thriller, Drama, Crime]",English,[Todd Phillips]
6,1000007,Spider-Man: Into the Spider-Verse,2018.0,4.43,"[Donna Lynn Leavy, Lex Lang, Harrison Knight, ...","[Adventure, Animation, Science Fiction, Action]",English,"[Rodney Rothman, Peter Ramsey, Bob Persichetti]"
7,1000008,Knives Out,2019.0,4.00,"[Raúl Castillo, Shyrley Rodriguez, Kerry Franc...","[Mystery, Comedy, Crime]",English,[Rian Johnson]
8,1000009,La La Land,2016.0,4.05,"[Carol Connors, Daniel Gaymon, Patrick Cook, A...","[Drama, Comedy, Music, Romance]",English,[Damien Chazelle]
9,1000010,Pulp Fiction,1994.0,4.27,"[Brad Blumenthal, Carl Allen, Don Blakely, Ric...","[Crime, Thriller]",English,[Quentin Tarantino]
10,1000011,The Batman,2022.0,3.99,"[Akie Kotabe, Philip Shaun McGuinness, Craige ...","[Thriller, Mystery, Crime]",English,[Matt Reeves]
11,1000012,Oppenheimer,2023.0,4.26,"[Harrison Gilbertson, Jack Cutmore-Scott, Oliv...","[Drama, History]",English,[Christopher Nolan]
12,1000013,Whiplash,2014.0,4.43,"[Jimmie Kirkpatrick, April Grace, Daniel Weidl...","[Drama, Music]",English,[Damien Chazelle]
13,1000014,Get Out,2017.0,4.16,"[Richard Herd, Erika Alexander, Jeronimo Spinx...","[Horror, Mystery, Thriller]",English,[Jordan Peele]
14,1000015,Midsommar,2019.0,3.78,"[Anders Back, Dag Andersson, Tomas Engström, L...","[Mystery, Drama, Horror]",English,[Ari Aster]

In [16]:
merged_df14576['date'] = pd.to_numeric(merged_df14576['date'], errors='coerce')
filtered_df = merged_df14576[merged_df14576['date'] > 1970.0]
filtered_df

,id,movie,date,rating,name,genre,language,Director
0,1000001,Barbie,2023.0,3.91,"[Margot Robbie, Lewis Easter, Onyemachi Ejimof...","[Comedy, Fantasy, Adventure]",English,[Greta Gerwig]
1,1000002,Parasite,2019.0,4.57,"[Rosie Peralta, Anna Elisabeth Rihlmann, Andre...","[Comedy, Thriller, Drama]",Korean,[Bong Joon-ho]
2,1000003,Everything Everywhere All at Once,2022.0,4.32,"[Randall Archer, Boon Pin Koh, Efka Kvaracieju...","[Science Fiction, Action, Adventure]",English,"[Daniel Kwan, Daniel Scheinert]"
3,1000004,Fight Club,1999.0,4.27,"[Leonard Termo, Greg Bronson, Michael Arturo, ...",[Drama],English,[David Fincher]
4,1000005,Interstellar,2014.0,4.32,"[Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...","[Science Fiction, Drama, Adventure]",English,[Christopher Nolan]
...,...,...,...,...,...,...,...,...
895437,1895407,Loving You is My Destiny,1971.0,NaN,"[Levent Dönmez, Sacide Keskin, Timuçin Caymaz,...","[Drama, Romance]",Turkish,[Orhan Aksoy]
895438,1895408,Our Round Earth: What It's Like,1971.0,NaN,NaN,[Documentary],English,NaN
895439,1895409,Salgari Of Our Childhood,1971.0,NaN,[Omar Salgari],NaN,Italian,[Corrado Farina]
895440,1895410,Small Smoke at Blaze Creek,1971.0,NaN,NaN,[Documentary],English,[Michael J.F. Scott]
896394,1896364,Winterland,2019.0,NaN,"[Cody Townsend, Robin Van Gyn, Mark Carter, Cl...",[Documentary],English,"[Todd Jones, Jon Klaczkiewicz, Steve Jones]"

In [17]:
df_cleaned = filtered_df.dropna()
df_cleaned

,id,movie,date,rating,name,genre,language,Director
0,1000001,Barbie,2023.0,3.91,"[Margot Robbie, Lewis Easter, Onyemachi Ejimof...","[Comedy, Fantasy, Adventure]",English,[Greta Gerwig]
1,1000002,Parasite,2019.0,4.57,"[Rosie Peralta, Anna Elisabeth Rihlmann, Andre...","[Comedy, Thriller, Drama]",Korean,[Bong Joon-ho]
2,1000003,Everything Everywhere All at Once,2022.0,4.32,"[Randall Archer, Boon Pin Koh, Efka Kvaracieju...","[Science Fiction, Action, Adventure]",English,"[Daniel Kwan, Daniel Scheinert]"
3,1000004,Fight Club,1999.0,4.27,"[Leonard Termo, Greg Bronson, Michael Arturo, ...",[Drama],English,[David Fincher]
4,1000005,Interstellar,2014.0,4.32,"[Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...","[Science Fiction, Drama, Adventure]",English,[Christopher Nolan]
...,...,...,...,...,...,...,...,...
153113,1153114,Cinema Chupista Maava,2015.0,3.17,"[Raj Tarun, Avika Gor, Rao Ramesh]","[Comedy, Romance, Family]",Telugu,[Trinadha Rao Nakkina]
153293,1153294,Los Angeles/Tehran,2018.0,2.24,"[Parviz Parastouei, Mahnaz Afshar, Gohar Kheyr...",[Comedy],Persian (Farsi),[Tina Pakravan]
154615,1154616,Kutti Puli,2013.0,2.89,"[G. Gnanasambandam, Raja Simman, Balasaravanan...","[Action, Thriller]",Tamil,[M. Muthaiah]
156022,1156023,To Steal a Thief,1996.0,2.94,"[Eva Dahlman, Agneta Guldberg, Per-Erik Bergqu...","[Comedy, Crime]",Swedish,[Clas Lindberg]
158773,1158774,As Seen On Tv,2001.0,3.16,"[Cecilia Frode, Anna Carlsten, Magnus Härensta...",[Comedy],Swedish,[Fredrik Lindström]

In [19]:
filtered_df = df_cleaned[df_cleaned['language'].apply(lambda x: 'English' in x)]
filtered_df

,id,movie,date,rating,name,genre,language,Director
0,1000001,Barbie,2023.0,3.91,"[Margot Robbie, Lewis Easter, Onyemachi Ejimof...","[Comedy, Fantasy, Adventure]",English,[Greta Gerwig]
2,1000003,Everything Everywhere All at Once,2022.0,4.32,"[Randall Archer, Boon Pin Koh, Efka Kvaracieju...","[Science Fiction, Action, Adventure]",English,"[Daniel Kwan, Daniel Scheinert]"
3,1000004,Fight Club,1999.0,4.27,"[Leonard Termo, Greg Bronson, Michael Arturo, ...",[Drama],English,[David Fincher]
4,1000005,Interstellar,2014.0,4.32,"[Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...","[Science Fiction, Drama, Adventure]",English,[Christopher Nolan]
5,1000006,Joker,2019.0,3.83,"[Danny Schoch, Graham Mabry, Steven Elson, Rog...","[Thriller, Drama, Crime]",English,[Todd Phillips]
...,...,...,...,...,...,...,...,...
126882,1126883,Bangaram,2006.0,2.97,"[Ashutosh Rana, Trisha Krishnan, L. B. Sriram,...","[Drama, Action]",English,[Dharani]
127954,1127955,Emu War - OverSimplified,2018.0,3.53,[Stuart Webster],"[Documentary, History]",English,[Stuart Webster]
127968,1127969,Lee Evans: Wired and Wonderful,2002.0,3.56,[Lee Evans],[Comedy],English,[Tom Poole]
128915,1128916,The Return of 'Allo 'Allo!,2007.0,3.62,"[Gorden Kaye, Vicki Michelle, Arthur Bostrom, ...",[Documentary],English,[Dennis Martin]
144326,1144327,Gunnar Rehlin - A Small Film About Hurting Som...,1999.0,3.51,"[Tommy Bergqvist, Monte Reid, Martin Luuk, Kri...","[Comedy, TV Movie]",English,[Tomas Alfredson]

In [20]:
filtered_df.to_csv('filtered_2.csv', index=False)